* text=auto

*.blade.php diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpunit.xml export-ignore
pint.json export-ignore
boost.json export-ignore
testbench.yaml export-ignore
/workbench export-ignore
.mcp.json export-ignore
/.vscode export-ignore

.github/workflows/*.lock.yml linguist-generated=true merge=ours
